body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  color: #111;
}

code {
  font-family: Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}
